{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="{% static 'nucescircle/tagsinput.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'nucescircle/newStyling.css' %}">
</head>
<body id="gradBg2">
<nav class="navbar navbar-dark sticky-top navbar-expand-lg bg-dark shadow-lg">
    <div class="ml-4">
        <label class="navbar-brand text-white ml-5">NUCESCircle</label>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>

    <div class="collapse navbar-collapse float-right" id="navbarSupportedContent">
        {% if request.user.recruiter %}
            <h3><span class="badge badge-light">Jobs</span></h3>
            {% with url_name=request.resolver_match.url_name %}
            <div class="form-inline ml-auto mr-5">
                <a class="table-hover text-sm-center nav-link {% if url_name == 'circle-recruit' %}active{% endif %} mr-sm-3 text-white" href="{% url 'circle-recruit' %}"><i class="fas fa-home"></i> Home</a>
                <div class="nav-item dropdown mr-sm-5 shadow-lg">
                    <a class="btn text-white btn-dark nav-link {% if url_name == 'view-profile' %}active{% endif %} dropdown-toggle table-hover" type="button" id="dropdownMenuButton1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-user"></i> Me</a>
                    <div class="dropdown-menu bg-dark text-white" aria-labelledby="dropdownMenuButton1">
                        <a class="dropdown-item bg-dark text-white" href="{% url 'view-profile' user.id %}">View Profile</a>
                        <hr class="my-2 text-white">
                        <a class="dropdown-item bg-dark text-white" href="{% url 'circle-logout' %}">Log Out</a>
                    </div>
                </div>
            </div>
            {% endwith %}
        {% else %}
            <form method="get" action="{% url 'search' %}">
                <div class="input-group">
                <input name="q" class="form-control" placeholder="Search by username..." id="txtQuery" required>
                <span class="input-group-append">
                    <button class="btn btn-outline-secondary" type="submit" onclick="return validateText('txtQuery')">
                        <i class="fas fa-search"></i>
                    </button>
                </span>
                </div>
            </form>
            <form class="form-inline my-2 my-lg-0 ml-auto mr-5">
                <nav class="nav nav-pills">
                    {% with url_name=request.resolver_match.url_name %}
                        <a class="table-hover text-sm-center nav-link {% if url_name == 'circle-home' %}active{% endif %} mr-sm-3 text-white" href="{% url 'circle-home' %}"><i class="fas fa-home"></i> Home</a>
                        <a class="table-hover text-sm-center nav-link {% if url_name == 'my-circle' %}active{% endif %} mr-sm-3 text-white" href="{% url 'my-circle' %}"><i class="fas fa-users"></i> My Circle</a>
                        <a class="table-hover text-sm-center nav-link {% if url_name == 'circle-jobs' %}active{% endif %} mr-sm-3 text-white" href="{% url 'circle-jobs' %}"><i class="fas fa-briefcase"></i> Jobs</a>
                        <a class="table-hover text-sm-center nav-link {% if url_name == 'circle-find-people' %}active{% endif %} mr-sm-3 text-white" href="{% url 'circle-find-people' %}"><i class="fas fa-user-plus"></i> Find People</a>
                        <!--<a class="table-hover text-sm-center nav-link {% if url_name == 'circle-recruit' %}active{% endif %} mr-sm-3 text-white" href="{% url 'circle-recruit' %}"><i class="fas fa-bullhorn"></i> Recruit</a>-->

                        <div class="nav-item dropdown mr-sm-5 shadow-lg">
                            <a class="btn text-white btn-dark nav-link {% if url_name == 'view-profile' %}active{% endif %} dropdown-toggle table-hover" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-user"></i> Me</a>
                            <div class="dropdown-menu bg-dark text-white" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item bg-dark text-white" href="{% url 'view-profile' user.id %}">View Profile</a>
                                <hr class="my-2 text-white">
                                <a class="dropdown-item bg-dark text-white" href="{% url 'circle-logout' %}">Log Out</a>
                            </div>
                        </div>
                    {% endwith %}
                </nav>
            </form>
        {% endif %}
    </div>
</nav>

    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }} shadow-lg">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    {% block content %}{% endblock %}

<!-- Footer -->
	<!--<section id="footer">-->
		<!--<div class="container">-->
			<!--<div class="row text-center text-xs-center text-sm-left text-md-left">-->
				<!--<div class="col-xs-12 col-sm-4 col-md-4">-->
					<!--<h5>Quick links</h5>-->
					<!--<ul class="list-unstyled quick-links">-->
						<!--<li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Home</a></li>-->
						<!--<li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>About</a></li>-->
						<!--<li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>FAQ</a></li>-->
						<!--<li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Get Started</a></li>-->
						<!--<li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Videos</a></li>-->
					<!--</ul>-->
				<!--</div>-->
				<!--<div class="col-xs-12 col-sm-4 col-md-4">-->
					<!--<h5>Quick links</h5>-->
					<!--<ul class="list-unstyled quick-links">-->
						<!--<li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Home</a></li>-->
						<!--<li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>About</a></li>-->
						<!--<li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>FAQ</a></li>-->
						<!--<li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Get Started</a></li>-->
						<!--<li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Videos</a></li>-->
					<!--</ul>-->
				<!--</div>-->
				<!--<div class="col-xs-12 col-sm-4 col-md-4">-->
					<!--<h5>Quick links</h5>-->
					<!--<ul class="list-unstyled quick-links">-->
						<!--<li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Home</a></li>-->
						<!--<li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>About</a></li>-->
						<!--<li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>FAQ</a></li>-->
						<!--<li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Get Started</a></li>-->
						<!--<li><a href="https://wwwe.sunlimetech.com" title="Design and developed by"><i class="fa fa-angle-double-right"></i>Imprint</a></li>-->
					<!--</ul>-->
				<!--</div>-->
			<!--</div>-->
			<!--<div class="row">-->
				<!--<div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">-->
					<!--<p class="h6">&copy All right Reversed.<a class="text-green ml-2" href="#" target="_blank">MFA</a></p>-->
				<!--</div>-->
				<!--</hr>-->
			<!--</div>-->
		<!--</div>-->
	<!--</section>-->
	<!-- ./Footer -->

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script> <!-- for findPeople2.html -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script
  src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
  integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
  crossorigin="anonymous"></script>
<script src="{% static 'nucescircle/sampleUsers.js' %}"></script>
<script src="{% static 'nucescircle/misc.js' %}"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="{% static 'nucescircle/tagsinput.js' %}"></script>
</body>
</html>