{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="{% static 'nucescircle/tagsinput.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'nucescircle/newStyling.css' %}">
</head>
<body id="gradBg2">
<nav class="navbar navbar-dark sticky-top navbar-expand-lg bg-dark">
    <div class="ml-4">
        <label class="navbar-brand text-white ml-5">NUCESCircle</label>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <form method="get" action="{% url 'search' %}">
            <div class="input-group">
            <input name="q" class="form-control" placeholder="Search by username..." id="txtQuery">
            <span class="input-group-append">
                <button class="btn btn-outline-secondary" type="submit" onclick="return validateText('txtQuery')">
                    <i class="fas fa-search"></i>
                </button>
            </span>
            </div>
        </form>
        <form class="form-inline my-2 my-lg-0 ml-auto mr-5">
            <a class="nav-link mr-sm-3 text-white bg-dark" href="{% url 'circle-home' %}"><i class="fas fa-home"></i> Home</a>
            <a class="nav-link mr-sm-3 text-white bg-dark" href="{% url 'my-circle' %}"><i class="fas fa-user-plus"></i> My Circle</a>
            <a class="nav-link mr-sm-3 text-white bg-dark" href="{% url 'circle-jobs' %}"><i class="fas fa-briefcase"></i> Jobs</a>
            <a class="nav-link mr-sm-3 text-white bg-dark" href="{% url 'circle-recruit' %}"><i class="fas fa-bullhorn"></i> Recruit</a>
            <div class="dropdown mr-sm-5">
                <button class="btn btn-secondary dropdown-toggle table-hover" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-user"></i> Me</button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="{% url 'view-profile' user.id %}">View Profile</a>
                    <a class="dropdown-item" href="#">Settings</a>
                    <hr class="my-2">
                    <a class="dropdown-item" href="{% url 'circle-logout' %}">Log Out</a>
                </div>
            </div>
        </form>
    </div>
</nav>

    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    {% block content %}{% endblock %}

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script> <!-- for findPeople2.html -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="{% static 'nucescircle/sampleUsers.js' %}"></script>
<script src="{% static 'nucescircle/tagsinput.js' %}"></script>
<script type="text/javascript">

    function validateText(id){
		var txt = document.getElementById(id);
		if(txt.value == ''){
			return error('search string is empty');
		}
		return true;
	}

    function error(msg){
		alert(msg);
		return false;
	}
</script>
</body>
</html>