{% extends "nucescircle/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container-fluid gedf-wrapper">
    <div class="row">
        <div class="col-md-3 mt-4">
                <div class="card position-sticky shadow-lg mb-5 bg-white">
                    <div class="card-body">
                        <div class="h5">@{{user.username}}</div>
                        <div class="h6 text-muted">{{user.first_name}} {{user.last_name}}</div>
                        <div class="h7">Interests: {{ user.interests }}</div>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <div class="h6 text-muted">Connections</div>
                            <div class="h5">{{ connected_count }}</div>
                        </li>
                        <li class="list-group-item">
                            <div class="h6 text-muted">Connect Requests</div>
                            <div class="h5">{{ requests_count }}</div>
                        </li>
                    </ul>
                </div>
        </div>
        <div class="col-md-6 gedf-main mt-4">

            <div class="mb-4">
                <div class="card shadow-lg mb-5 bg-white">
                    <div class="card-header">
                        Write a Post, let everyone know
                    </div>
                    <div class="card-body">
                        <div class="content-section">
                            <form method="post" class="form-group creating_post_ajax" action="."
                            data-url='{{ request.build_absolute_uri|safe }}'>
                                {% csrf_token %} <!-- for security purposes -->
                                <fieldset class="form-group">
                                    {{ create_form|crispy }}
                                </fieldset>
                                <div class="form-group">
                                    <button class="btn btn-outline-dark" type="submit"><i class="fas fa-pen"></i> Post it</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div id="mainFeed">
<!--            {% for post in posts %}-->
<!--                <div class="card gedf-card shadow-lg mb-5 bg-white">-->
<!--                    <div class="card-header">-->
<!--                        <div class="d-flex justify-content-between align-items-center">-->
<!--                            <div class="d-flex justify-content-between align-items-center">-->
<!--                                <div class="mr-2">-->
<!--                                    <img class="rounded-circle post-img" src="{{ post.post_user.profile.image.url }}" alt="">-->
<!--                                </div>-->
<!--                                <div class="ml-2">-->
<!--                                    <div class="h5 m-0">@{{post.post_user.username}}</div>-->
<!--                                    <div class="h7 text-muted">{{post.post_user.first_name}} {{post.post_user.last_name}}</div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div>-->
<!--                                {% if post.post_user == user %}-->
<!--                                <div class="dropdown">-->
<!--                                    <button class="btn btn-link dropdown-toggle" type="button" id="gedf-drop1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
<!--                                        <i class="fas fa-ellipsis-h"></i>-->
<!--                                    </button>-->
<!--                                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="gedf-drop1">-->
<!--                                            <div class="h6 dropdown-header">Configuration</div>-->
<!--                                                <a class="dropdown-item" href="" data-toggle="modal" data-target="#createPostModal{{post.id}}">-->
<!--                                                    Edit-->
<!--                                                </a>-->
<!--                                                <a class="dropdown-item" href="" data-toggle="modal" data-target="#deletePostModal{{post.id}}">-->
<!--                                                    Delete-->
<!--                                                </a>-->
<!--                                        </div>-->
<!--                                </div>-->

<!--                                <form method="post" class="form-group update_post_ajax" action="{% url 'post-update' post.id %}">-->
<!--                                {% csrf_token %} &lt;!&ndash; for security purposes &ndash;&gt;-->
<!--                                    <div class="modal fade" id="createPostModal{{post.id}}" tabindex="-1" role="dialog" aria-labelledby="createModalLabel" aria-hidden="true">-->
<!--                                      <div class="modal-dialog" role="document">-->
<!--                                        <div class="modal-content">-->
<!--                                          <div class="modal-header">-->
<!--                                            <h5 class="modal-title" id="createModalLabel">Update Post</h5>-->
<!--                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
<!--                                              <span aria-hidden="true">&times;</span>-->
<!--                                            </button>-->
<!--                                          </div>-->
<!--                                          <div class="modal-body">-->
<!--                                            <fieldset class="form-group">-->
<!--                                                <textarea class="form-control" name="content">{{ post.content }}</textarea>-->
<!--                                            </fieldset>-->
<!--                                          </div>-->
<!--                                          <div class="modal-footer">-->
<!--                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>-->
<!--                                              <input value="{{ post.id }}" id="current_update_post_id" type="hidden">-->
<!--                                            <button type="submit" class="btn btn-danger" onclick="update_post_ftn()">Update it</button>-->
<!--                                          </div>-->
<!--                                        </div>-->
<!--                                      </div>-->
<!--                                    </div>-->
<!--                                </form>-->
<!--                                <form id="delete_form{{post.id}}" method="post" class="form-group delete_post_ajax" action="{% url 'post-delete' post.id %}">-->
<!--                                    {% csrf_token %}-->
<!--                                    <div class="modal fade" id="deletePostModal{{post.id}}" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">-->
<!--                                      <div class="modal-dialog" role="document">-->
<!--                                        <div class="modal-content">-->
<!--                                          <div class="modal-header">-->
<!--                                            <h5 class="modal-title" id="deleteModalLabel">Delete Post</h5>-->
<!--                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
<!--                                              <span aria-hidden="true">&times;</span>-->
<!--                                            </button>-->
<!--                                          </div>-->
<!--                                          <div class="modal-body">-->
<!--                                            Post Content: {{ post.content }}-->
<!--                                          </div>-->
<!--                                          <div class="modal-footer">-->
<!--                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>-->
<!--                                              <input value="{{ post.id }}" id="current_post_id" type="hidden">-->
<!--                                            <button type="submit" class="btn btn-danger" onclick="delete_post_ftn()">Delete</button>-->
<!--                                          </div>-->
<!--                                        </div>-->
<!--                                      </div>-->
<!--                                    </div>-->
<!--                                </form>-->
<!--                                {% endif %}-->
<!--                            </div>-->
<!--                        </div>-->

<!--                    </div>-->
<!--                    &lt;!&ndash;<a class="card-link" href="{% url 'post-detail' post.id %}">&ndash;&gt;-->
<!--                    <div class="card-body">-->
<!--                        <div class="text-muted h7 mb-2"> <i class="fas fa-clock-o"></i>{{post.post_date}}</div>-->
<!--                         <p class="card-text">-->
<!--                            {{post.content}}-->
<!--                         </p>-->
<!--                    </div>-->
<!--                    &lt;!&ndash;</a>&ndash;&gt;-->
<!--                    <div class="card-footer">-->
<!--                        <a href="#" class="card-link"><i class="fas fa-gittip"></i> Like</a>-->
<!--                        <a href="#" class="card-link"><i class="fas fa-comment"></i> Comment</a>-->
<!--                        <a href="#" class="card-link"><i class="fas fa-mail-forward"></i> Share</a>-->
<!--                    </div>-->
<!--                </div>-->
<!--            {% endfor %}-->
            </div>

        </div>
        <div class="col-md-3 mt-4">
            <div class="card gedf-card shadow-lg mb-5 bg-white">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="card-link">Card link</a>
                    <a href="#" class="card-link">Another link</a>
                </div>
            </div>
            <div class="card gedf-card mt-4 shadow-lg mb-5 bg-white">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="card-link">Card link</a>
                    <a href="#" class="card-link">Another link</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
