{% extends "nucescircle/base.html" %}
{% block content %}
<div>
        <div class="card mx-auto text-center col-md-11"> <!-- sort of, nesting of cards -->
            <div class="card-header">
                <h3>Available Jobs</h3>
            </div>
            <div class="card-body">

                <div class="card mb-3 text-left">
                    <h5 class="card-header">Job Header</h5>
                    <div class="card-body">
                        <h5 class="card-title"><strong>Job Title</strong></h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <div class="text-center">
                            <a href="#" class="btn btn-outline-dark">Apply Now</a>
                        </div>
                    </div>
                    <div class="card-footer">
                        <span class="badge badge-pill badge-dark">Java</span>
                        <span class="badge badge-pill badge-dark">Dev</span>
                        <span class="badge badge-pill badge-dark">COBOL</span>
                    </div>
                </div>

                <div class="card mb-3 text-left">
                    <h5 class="card-header">Job Header</h5>
                    <div class="card-body">
                        <h5 class="card-title"><strong>Job Title</strong></h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <div class="text-center">
                            <a href="#" class="btn btn-outline-dark">Apply Now</a>
                        </div>
                    </div>
                    <div class="card-footer">
                        <span class="badge badge-pill badge-dark">Java</span>
                        <span class="badge badge-pill badge-dark">Dev</span>
                        <span class="badge badge-pill badge-dark">COBOL</span>
                    </div>
                </div>


                <div class="card mb-3 text-left">
                    <h5 class="card-header">Job Header</h5>
                    <div class="card-body">
                        <h5 class="card-title"><strong>Job Title</strong></h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <div class="text-center">
                            <a href="#" class="btn btn-outline-dark">Apply Now</a>
                        </div>
                    </div>
                    <div class="card-footer">
                        <span class="badge badge-pill badge-dark">Java</span>
                        <span class="badge badge-pill badge-dark">Dev</span>
                        <span class="badge badge-pill badge-dark">COBOL</span>
                    </div>
                </div>



            </div>
        </div>
    </div>

{% endblock %}