{% extends "nucescircle/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container-fluid gedf-wrapper">

<div class="row">
    <div class="col-md-3 mt-4">
            <div class="card position-sticky shadow-lg mb-5 bg-white">
                <div class="card-body">
                    <div class="h5">@{{user.username}}</div>
                    <div class="h6 text-muted">{{user.first_name}} {{user.last_name}}</div>
                    <div class="h7">Interests: {{ user.interests }}</div>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <div class="h6 text-muted">Posted Jobs</div>
                        <div class="h5">51</div>
                    </li>
                    <li class="list-group-item">
                        <div class="h6 text-muted">Job Responses</div>
                        <div class="h5">6758</div>
                    </li>
                    <li class="list-group-item">How you doin'?</li>
                </ul>
            </div>
        </div>

    <div class="card col-md-5 mx-auto text-center my-4 shadow-lg rounded"> <!-- sort of, nesting of cards -->
        <div class="bg-dark text-white my-3">
            <div class="card-header">
            <h4>Post a Job</h4>
            </div>
        </div>
        <div class="card-body mx-auto">
            <form class="form-group" method="post" action="{% url 'submit-recruit' %}">
                {% csrf_token %}
                <fieldset class="form-group">
                    <div class="row">
                          <div class="col-md-6 ml-auto">
                            {{ job_form.job_title|as_crispy_field }}
                          </div>
                         <div class="col-md-6 mr-auto">
                            {{ job_form.job_location|as_crispy_field }}
                          </div>
                        </div>
                        <div class="row">
                        <div class="col-md-6 ml-auto">
                            {{ job_form.job_field|as_crispy_field }}
                          </div>
                        <div class="col-md-6 mr-auto">
                            {{ job_form.job_tags|as_crispy_field }}
                          </div>
                            </div>

                        <div class="row">
                          <div class="col-md-10 mx-auto">
                            {{ job_form.job_desc|as_crispy_field }}
                          </div>
                        </div>
                </fieldset>
                <div class="col-md-8 mx-auto">
                    <button class="btn btn-outline-dark form-control" type="submit">Post</button>
                </div>
                <!--<div class="form-group">-->
                    <!--<label>Job Title</label>-->
                    <!--<input class="form-control mb-3" type="text">-->
                <!--</div>-->
                <!--<div class="form-group">-->
                    <!--<label for="">Description</label>-->
                    <!--<textarea class="form-control mb-3"></textarea>-->
                <!--</div>-->
                <!--<div class="form-group">-->
                    <!--<label>Discipline</label>-->
                    <!--<select class="form-control bg-dark text-white mb-3" name="Discipline">-->
                        <!--<option value="">IT</option>-->
                        <!--<option value="">Management</option>-->
                        <!--<option value="">Arts</option>-->
                        <!--<option value="">Finance</option>-->
                    <!--</select>-->
                <!--</div>-->
                <!--<div class="form-group">-->
                    <!--<label>Experience</label>-->
                    <!--<select class="form-control bg-dark text-white mb-3" name="experience">-->
                        <!--<option value="">1 year</option>-->
                        <!--<option value="">2 years</option>-->
                        <!--<option value="">3 years</option>-->
                        <!--<option value="">4 years</option>-->
                        <!--<option value="">5 or more than 5 years</option>-->
                        <!--</select>-->
                <!--</div>-->
                <!--<div class="form-group">-->
                    <!--<label for="">Tags</label>-->
                    <!--<input value="" class="form-control mb-3" data-role="tagsinput" placeholder="Enter with a comma..." id="tags">-->
                <!--</div>-->
            </form>
        </div>
    </div>
<div class="col-md-3 mt-4">
            <div class="card gedf-card shadow-lg mb-5 bg-white">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="card-link">Card link</a>
                    <a href="#" class="card-link">Another link</a>
                </div>
            </div>
            <div class="card gedf-card mt-4 shadow-lg mb-5 bg-white">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="card-link">Card link</a>
                    <a href="#" class="card-link">Another link</a>
                </div>
            </div>
        </div>

</div>
</div>

    <div class="card col-md-10 mx-auto text-center my-4 shadow-lg rounded"> <!-- sort of, nesting of cards -->
        <div class="bg-dark text-white my-3">
            <div class="card-header">
            <h4>Jobs Posted Earlier</h4>
            </div>
        </div>
        <div class="card-body"><!-- 'job_title', 'job_desc', 'job_location', 'job_field', 'job_tags' -->
            <div class="row">
            {% if previous_posted_jobs %}
                {% for job in previous_posted_jobs %}
                    {% if request.user == job.posted_by %}
                        <div class="col-md-4">
                            <div class="card job-card text-left mb-3">
                                <div class="card-body">
                                    <div class="row">
                                        <h5 class="card-title mr-auto ml-2"><strong>{{ job.job_title }}</strong></h5>
                                        <div class="ml-auto mr-2">
                                            <a href="" data-toggle="modal" data-target="#deleteJobModal">
                                                <i class="fas fa-trash"></i> Remove</a>
                                        </div>
                                    </div>
                                    <p class="card-text">{{ job.job_desc }}</p>
                                    <p class="text-muted mr-auto">{{ job.job_field }}</p>
                                    <p class="text-muted">{{ job.job_location }}</p>

                                </div>
                                <div class="card-footer">
                                    <span class="badge badge-pill badge-dark">{{ job.job_tags }}</span>
                                    <p class="text-muted float-right">{{ job.date_posted }}</p>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    <form method="post" class="form-group" action="{% url 'job-delete' job.id %}">
                        {% csrf_token %}
                        <div class="modal fade" id="deleteJobModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
                          <div class="modal-dialog" role="document">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title" id="deleteModalLabel">Delete Job</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                              </div>
                              <div class="modal-body">
                                  <strong>{{ job.job_title }}</strong>
                                  <p class="text-muted"> Posted on: {{ job.date_posted }} </p>
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-danger">Delete</button>
                              </div>
                            </div>
                          </div>
                        </div>
                    </form>
                {% endfor %}
            {% else %}
                <div class="py-3 mx-auto px-3">
                    <h4>Start recruiting, why you have not started yet.</h4>
                </div>
            {% endif %}
            </div>
        </div>
    </div>

{% endblock %}